.cabecalho{
    display: flex;
    justify-content: space-around; 
}
.titulo{
    font-size: 3rem;
    color: blue;
    background-color: aquamarine;
}
.subtitulo{
    font-size: 2rem;
    color: aquamarine;
    background-color: blue;

}