.cabecalho{
    display: flex;
    justify-content: space-around; 
    background-color: blueviolet;
}
.titulo{
    font-size: 3rem;
    color: blue;
   
}
.subtitulo{
    font-size: 2rem;
    color: blue;


}
.logo{
    width: 10%;
}
